.shimmer .flag {
  width: 40%;
  height: 240px;
  background-color: var(--elements-color);
  border-radius: 4px;
}

.shimmer .title {
  height: 36px;
  background-color: var(--elements-color);
  border-radius: 4px;
}

.country-details.shimmer p {
  height: 22px;
  background-color: var(--elements-color);
  border-radius: 2px;
}

.country-details.shimmer p:last-child {
  width: 50%;
}

.details-text-container {
  flex-grow: 1;
}

@media (max-width: 940px) {
  .shimmer .flag, .details-text-container {
    width: 100%;
    max-width: 400px;
  }
  
}
