section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 4rem;
    align-items: center;
}

button img {
    max-width: 40px;
}